.myBtn {
    padding: 5px 15px;
    color: #FF6F61;
    font-size: 14px;
    background: transparent;
    border: 0px;
    cursor: pointer;
    margin-right: 10px;
}
.myBtn :hover {
    background-color: #4A90E2;
    border-radius: 5px;
}