.custom-button {
    background-color: transparent;
    border: 2px solid;
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    outline: none;
}

.custom-button.green {
    border-color: #00ff00;
    color: rgb(0, 255, 98);
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.custom-button.green:hover {
    box-shadow: 0 0 15px rgba(0, 255, 0, 1);
}

.custom-button.green:focus {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.custom-button.red {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);

}

.custom-button.red:hover {
    box-shadow: 0 0 15px rgba(255, 0, 0, 1);

}

.custom-button.red:focus {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);

}