.navbar {
    background-color: #FFD93D;
    padding: 15px;
    margin-bottom: 10px;
}

.navbarlist {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbaritem a {
    color: #FF6F61;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbaritem a:hover {
    background-color: #4A90E2;
    border-radius: 5px;
}