.navbar {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    background-color: #010714;
    padding: 1rem;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    border-radius: 10px;
}

.toggle-button {
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
    z-index: 1000;
}

.links {
    display: flex;
    flex-direction: row; 
    max-width: 0;
    padding: 0;
    margin-top: 1rem;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 100;
}

.links.show {
    max-height: 400px;
    max-width: 100%;
}

.links.hide {
    max-height: 0;
    max-width: 0%;
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: transform 0.3s;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-link.active {
    color: #00ff00;
}

.nav-link.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #00ff00;
    border-radius: 5px;
    animation: electric 1.5s infinite;
}

@keyframes electric {
    0%,
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 1);
    }
}


@media (max-width: 1000px) {
    .navbar {
        flex-direction: column; 
        align-items: left;
    }

    .links {
        flex-direction: column; 
        max-height: 0;
        margin-top: 0;
    }

    .links.show {
        max-height: 400px; 
    }

    .links.hide {
        max-height: 0;
    }

    .nav-link {
        font-size: 1.5rem; 
        padding: 8px 15px; 
    }

    .toggle-button {
        font-size: 1.5rem; 
    }
}

@media (max-width: 480px) {
    .nav-link {
        font-size: 1.5rem; 
    }
}
