.navbar {
    display: flex;
    flex-direction: row;
    /* По умолчанию - строки */
    justify-content: space-between;
    /* Разделение элементов */
    align-items: center;
    background-color: #282c34;
    padding: 1rem;
    width: 90%;
    height: 10vh;
    margin: auto;
    border-radius: 10px;
    transition: max-height 0.3s ease;
    /* Плавный переход при открытии/закрытии */
    overflow: hidden;
    /* Скрытие содержимого, когда навбар закрыт */
}

.closed .links {
    display: none;
    /* Скрываем ссылки, если навбар закрыт */
}

.links {
    display: flex;
    flex-direction: row;
    /* По умолчанию - строки */
    flex-wrap: wrap;
    /* Позволяем перенос ссылок в колонку при недостатке места */
}

.nav-link {
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 10px 20px;
    transition: transform 0.3s;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-link.active {
    color: #00ff00;
}

.nav-link.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #00ff00;
    border-radius: 5px;
    animation: electric 1.5s infinite;
}

@keyframes electric {

    0%,
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 1);
    }
}

/* Стили для кнопки */
.toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}